* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: 'roboto', sans-serif;

}

#header {
    -webkit-box-shadow: 4px 13px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 13px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 13px 8px 0 rgba(34, 60, 80, 0.2);

    padding: 20px 0;
    border-bottom: 2px solid rgba(31, 46, 53, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(8px);

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav a {
    color: rgba(31, 46, 53, 0.8);
    font-size: 18px;
    font-weight: 400;
    padding: 0 25px;
    transition: .4s;

}

.header-nav a:hover {
    color: darkblue;
    text-decoration-line: underline;


}

.header-nav select {
    color: rgba(31, 46, 53, 0.8);
    border: none;
    font-weight: 400;
    font-size: 18px;
    outline: none;
    margin: 0 25px;
}

.header-icons a {
    color: rgba(31, 46, 53, 0.8);
    font-size: 25px;
    padding-right: 24px;
}

#hero {
    padding: 70px 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    width: 545px;
    font-weight: 700;
    font-size: 48px;
    color: #1F2E35;
}

.hero-text h1 span {
    color: #EE4248;
}


.hero-text p {
    width: 520px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 24px;

    color: #30444E;
    padding: 24px 0;
}


.hero-text button {


    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

    background: #EE4248;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 25px;
}

#lite {

    background: #F7F7F7;
    padding: 57px 0 63px 0;
}

.lite {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.lite-text h1 {


    font-weight: 500;
    width: 454px;
    font-size: 32px;
    color: #30444E;
    padding: 24px;

}

.lite-text p span {

    color: #EE4248;
}

.lite-text h1 span {

    color: #EE4248;
}

.lite-text p {

    width: 520px;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
}


#product {
    padding: 70px 0;

}


.product h1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #1F2E35;
    padding-bottom: 47px;
}

.product-block h2 {
    font-weight: 500;
    font-size: 28px;
    color: #EE4248;
    padding-top: 16px;
}

.product-block p {
    font-size: 18px;
    font-weight: 400;
    color: #30444E;
    width: 319px;
    padding: 15px 0;

}


.whe button:hover {
    background: darkblue;
    transform: scale(0.8);
    transition: .6s;
}

.red button:active {
    background: cadetblue;
    color: lightcyan;
    border: darkslategrey;
    cursor: pointer;
}

.focus button:focus {
    background: #1F2E35;
    color: #F7F7F7;
}


.product button {
    font-size: 18px;
    color: #FFFFFF;
    background: #EE4248;
    border: none;
    border-radius: 4px;
    padding: 13px 25px;
}


.product-general {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#contact {
    padding: 30px 0;

}

.contact-logo h3 {
    padding: 10px 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;

    color: #263238;
}

.contact-logo p {
    width: 317px;
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;

}

.contact-lo h1 {
    padding: 10px 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
}

.contact-lo h3, a {
    font-weight: 300;
    font-size: 18px;
    color: #263238;
    padding: 5px 0;

}

.contact {
    display: flex;
    align-items: end;
}

.contact-lo {
    margin-left: 47px;
}


#footer {
    background: #EE4248;
    padding: 22px 0;
}

.footer h1 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
